<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>grid based on 1kb grid</title>
	<link href="/styles/1.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="grid">
		<div class="grid-row">
			<div class="grid-column-12"><p>12</p></div>
		</div>
		<div class="grid-row">
			<div class="grid-column-4"><p><img src="http://cs305811.userapi.com/v305811995/7b3/N9Paw18roCA.jpg"></p></div>
			<div class="grid-column-8"><p style="line-height: 222px;">8</p></div>
		</div>
		<div class="grid-row">
			<div class="grid-column-8">
				<div class="grid-row">
					<div class="grid-column-4"><p>4</p></div>
					<div class="grid-column-8"><p>8</p></div>
				</div>
				<div class="grid-row">
					<div class="grid-column-6">
						<div class="grid-row">
							<div class="grid-column-3"><p>3</p></div>
							<div class="grid-column-9"><p>9</p></div>
						</div>
						<div class="grid-row">
							<div class="grid-column-2"><p>2</p></div>
							<div class="grid-column-10"><p>10</p></div>
						</div>
					</div>
					<div class="grid-column-6"><p style="line-height: 222px;">6</p></div>
				</div>
			</div>
			<div class="grid-column-4"><p style="line-height: 344px;">
				<img src="http://cs305811.userapi.com/v305811995/7b3/N9Paw18roCA.jpg">
			</p></div>
		</div>
	</div>
</body>
</html>
