$grid-columns-count: 12;
$grid-column-gap: 2%;
$grid-column-width: (100% - $grid-column-gap * $grid-columns-count) / $grid-columns-count;
$grid-max-width: 1140px;
$grid-min-width: 755px;
$grid-margin: 1%;
$grid-column-margin: 1%;

@mixin grid-column($i)
{
	width: $grid-column-width * $i + $grid-column-gap * ($i - 1);
	margin: 0 $grid-column-margin;
    overflow: hidden;
    float: left;
    display: inline;
}

@for $i from 1 through $grid-columns-count
{
	.grid-column-#{$i} { @include grid-column($i); }
}

.grid
{
	margin-left: $grid-margin;
	margin-right: $grid-margin;
}

.grid-row 
{
    max-width: $grid-max-width;
	min-width: $grid-min-width;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.grid-row .grid-row 
{
	margin: 0 -$grid-column-margin;
	width: auto;
	min-width: 0px;
}
